# Server Configuration
PORT=
ENV=

# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Security & JWT
JWT_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_EXPIRES=

# Steam OpenID Configuration
STEAM_API_KEY=your_steam_api_key
STEAM_OPEN_ID_URL=https://steamcommunity.com/openid/login
RETURN_URL=http://localhost:8080/api/v1/auth/steam/callback
STEAM_API_URL=https://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=%s&steamids=%s

FRONTEND_URL=http://localhost:4200